.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 90%;
  max-width: 1110px;
  margin: auto;
}

.login-website-logo {
  width: 53px;
  height: 43px;
}

.sign-in-text {
  font-size: 30px;
  font-family: 'DM Sans';
  font-weight: 500;
  margin-top: 5px;
}

.website-name {
  font-weight: 700;
  color: #f7931e;
  font-style: italic;
  font-size: 22px;
  font-family: 'DM Sans';
  margin-top: 0px;
}

@media screen and (min-width: 992px) {
  .login-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.login-image {
  flex-shrink: 1;
  position: absolute;
  width: 685px;
  height: 100vh;
  left: 735px;
  top: 0px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  width: 450px;
  height: 523px;
  left: 165px;
  top: 250px;
}

@media screen and (min-width: 992px) {
  .form-container {
    width: 456px;
    flex-shrink: 0;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    padding: 54px 44px 54px 44px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #475569;
}

.username-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
}

.password-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
}

.login-button {
  font-family: 'DM Sans';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #f7931e;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}

.error-msg {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}
